:root {
    --cor0: red;
    --cor1: blue;
    --fonte0: Arial ;

}

body {
    font-family: var(--fonte0);
    color: var(--cor0);
    line-height: 1.5em;
    font-family: var();

}

h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    text-align: center;
}

div.videos {
   position: relative;
   background-color: var(--cor0);
   height: 400px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 15px;
   padding-bottom: 59px;
    background-image: linear-gradient( to bottom, black, red);;
}


div.videos > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}