/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #e0f2ff; /* azul clarinho */
    color: #002244;
    padding: 20px;
}

/* Título principal centralizado */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}


/* Menu */
.menu {
    background-color: #002244;
    text-align: center;
    padding: 15px;
    margin: 0 0 20px 0;
    width: 100vw;     
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.menu button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    transition: background 0.3s, transform 0.2s;
}

.menu button:hover {
    background-color: #251d81;
    transform: scale(1.05);
}


/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Container de matrícula com flex */
.matricula-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap; /* garante responsividade */
}

/* Texto da matrícula à esquerda */
.matriculas_texto {
    flex: 1;
    min-width: 300px;
}

/* Formulários */
.form-grupo {
    margin-bottom: 15px;
}

.form-grupo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.matriculas_texto button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #002244;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.matriculas_texto button:hover {
    background-color: #00162a;
    transform: scale(1.03);
}

.form-grupo input,
.form-grupo select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Imagem à direita */
.matri {
    flex: 1;
    display: flex;
    justify-content: auto;
    align-items: auto;
    min-width: 400px;
    height: 450px;
    padding-top: 20px;
}

.matri img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;  
}

/* Rodapé */
.rodape {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    background-color: #002244b7; /* azul escuro translúcido */
    color: white;
    padding: 15px;
}

.rodape a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 5px;
}

.rodape a:hover {
    text-decoration: underline;
}
